<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.crm.base.mapper.ChanceMapper" >
  <resultMap id="BaseResultMap" type="com.zking.crm.base.model.Chance" >
    <constructor >
      <idArg column="chc_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="usr_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="chc_source" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="chc_cust_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="chc_title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="chc_rate" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="chc_linkman" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="chc_tel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="chc_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="chc_create_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="chc_due_to" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="chc_due_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="chc_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    chc_id, usr_id, chc_source, chc_cust_name, chc_title, chc_rate, chc_linkman, chc_tel, 
    chc_desc, chc_create_date, chc_due_to, chc_due_date, chc_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sal_chance
    where chc_id = #{chcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sal_chance
    where chc_id = #{chcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.crm.base.model.Chance" >
    insert into sal_chance (chc_id, usr_id, chc_source, 
      chc_cust_name, chc_title, chc_rate, 
      chc_linkman, chc_tel, chc_desc, 
      chc_create_date, chc_due_to, chc_due_date, 
      chc_status)
    values (#{chcId,jdbcType=INTEGER}, #{usrId,jdbcType=INTEGER}, #{chcSource,jdbcType=VARCHAR}, 
      #{chcCustName,jdbcType=VARCHAR}, #{chcTitle,jdbcType=VARCHAR}, #{chcRate,jdbcType=INTEGER}, 
      #{chcLinkman,jdbcType=VARCHAR}, #{chcTel,jdbcType=VARCHAR}, #{chcDesc,jdbcType=VARCHAR}, 
      #{chcCreateDate,jdbcType=TIMESTAMP}, #{chcDueTo,jdbcType=VARCHAR}, #{chcDueDate,jdbcType=TIMESTAMP}, 
      #{chcStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.crm.base.model.Chance" >
    insert into sal_chance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chcId != null" >
        chc_id,
      </if>
      <if test="usrId != null" >
        usr_id,
      </if>
      <if test="chcSource != null" >
        chc_source,
      </if>
      <if test="chcCustName != null" >
        chc_cust_name,
      </if>
      <if test="chcTitle != null" >
        chc_title,
      </if>
      <if test="chcRate != null" >
        chc_rate,
      </if>
      <if test="chcLinkman != null" >
        chc_linkman,
      </if>
      <if test="chcTel != null" >
        chc_tel,
      </if>
      <if test="chcDesc != null" >
        chc_desc,
      </if>
      <if test="chcCreateDate != null" >
        chc_create_date,
      </if>
      <if test="chcDueTo != null" >
        chc_due_to,
      </if>
      <if test="chcDueDate != null" >
        chc_due_date,
      </if>
      <if test="chcStatus != null" >
        chc_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chcId != null" >
        #{chcId,jdbcType=INTEGER},
      </if>
      <if test="usrId != null" >
        #{usrId,jdbcType=INTEGER},
      </if>
      <if test="chcSource != null" >
        #{chcSource,jdbcType=VARCHAR},
      </if>
      <if test="chcCustName != null" >
        #{chcCustName,jdbcType=VARCHAR},
      </if>
      <if test="chcTitle != null" >
        #{chcTitle,jdbcType=VARCHAR},
      </if>
      <if test="chcRate != null" >
        #{chcRate,jdbcType=INTEGER},
      </if>
      <if test="chcLinkman != null" >
        #{chcLinkman,jdbcType=VARCHAR},
      </if>
      <if test="chcTel != null" >
        #{chcTel,jdbcType=VARCHAR},
      </if>
      <if test="chcDesc != null" >
        #{chcDesc,jdbcType=VARCHAR},
      </if>
      <if test="chcCreateDate != null" >
        #{chcCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chcDueTo != null" >
        #{chcDueTo,jdbcType=VARCHAR},
      </if>
      <if test="chcDueDate != null" >
        #{chcDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chcStatus != null" >
        #{chcStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.crm.base.model.Chance" >
    update sal_chance
    <set >
      <if test="usrId != null" >
        usr_id = #{usrId,jdbcType=INTEGER},
      </if>
      <if test="chcSource != null" >
        chc_source = #{chcSource,jdbcType=VARCHAR},
      </if>
      <if test="chcCustName != null" >
        chc_cust_name = #{chcCustName,jdbcType=VARCHAR},
      </if>
      <if test="chcTitle != null" >
        chc_title = #{chcTitle,jdbcType=VARCHAR},
      </if>
      <if test="chcRate != null" >
        chc_rate = #{chcRate,jdbcType=INTEGER},
      </if>
      <if test="chcLinkman != null" >
        chc_linkman = #{chcLinkman,jdbcType=VARCHAR},
      </if>
      <if test="chcTel != null" >
        chc_tel = #{chcTel,jdbcType=VARCHAR},
      </if>
      <if test="chcDesc != null" >
        chc_desc = #{chcDesc,jdbcType=VARCHAR},
      </if>
      <if test="chcCreateDate != null" >
        chc_create_date = #{chcCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chcDueTo != null" >
        chc_due_to = #{chcDueTo,jdbcType=VARCHAR},
      </if>
      <if test="chcDueDate != null" >
        chc_due_date = #{chcDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chcStatus != null" >
        chc_status = #{chcStatus,jdbcType=INTEGER},
      </if>
    </set>
    where chc_id = #{chcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.crm.base.model.Chance" >
    update sal_chance
    set usr_id = #{usrId,jdbcType=INTEGER},
      chc_source = #{chcSource,jdbcType=VARCHAR},
      chc_cust_name = #{chcCustName,jdbcType=VARCHAR},
      chc_title = #{chcTitle,jdbcType=VARCHAR},
      chc_rate = #{chcRate,jdbcType=INTEGER},
      chc_linkman = #{chcLinkman,jdbcType=VARCHAR},
      chc_tel = #{chcTel,jdbcType=VARCHAR},
      chc_desc = #{chcDesc,jdbcType=VARCHAR},
      chc_create_date = #{chcCreateDate,jdbcType=TIMESTAMP},
      chc_due_to = #{chcDueTo,jdbcType=VARCHAR},
      chc_due_date = #{chcDueDate,jdbcType=TIMESTAMP},
      chc_status = #{chcStatus,jdbcType=INTEGER}
    where chc_id = #{chcId,jdbcType=INTEGER}
  </update>
</mapper>