<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.crm.base.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zking.crm.base.model.User">
        <constructor>
            <idArg column="usr_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="usr_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="usr_password" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="usr_flag" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>

    <resultMap id="loginList" type="com.zking.crm.base.model.User">
            <id column="usr_id" property="usrId" javaType="java.lang.Integer"/>
            <result column="role_id" property="roleId" javaType="java.lang.Integer"/>
            <result column="usr_name" property="usrName" javaType="java.lang.String"/>
            <result column="usr_password" property="usrPassword" javaType="java.lang.String"/>
            <result column="usr_flag" property="usrFlag" javaType="java.lang.Integer"/>
    </resultMap>
    <sql id="Base_Column_List">
    usr_id, role_id, usr_name, usr_password, usr_flag
  </sql>
    <select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="com.zking.crm.base.model.User">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where usr_name = #{usrName,jdbcType=VARCHAR }and usr_password = #{usrPassword,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where usr_id = #{usrId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zking.crm.base.model.User">
    insert into sys_user (usr_id, role_id, usr_name, 
      usr_password, usr_flag)
    values (#{usrId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{usrName,jdbcType=VARCHAR}, 
      #{usrPassword,jdbcType=VARCHAR}, #{usrFlag,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.zking.crm.base.model.User">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="usrId != null">
                usr_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="usrName != null">
                usr_name,
            </if>
            <if test="usrPassword != null">
                usr_password,
            </if>
            <if test="usrFlag != null">
                usr_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="usrId != null">
                #{usrId,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
            <if test="usrName != null">
                #{usrName,jdbcType=VARCHAR},
            </if>
            <if test="usrPassword != null">
                #{usrPassword,jdbcType=VARCHAR},
            </if>
            <if test="usrFlag != null">
                #{usrFlag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zking.crm.base.model.User">
        update sys_user
        <set>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
            <if test="usrName != null">
                usr_name = #{usrName,jdbcType=VARCHAR},
            </if>
            <if test="usrPassword != null">
                usr_password = #{usrPassword,jdbcType=VARCHAR},
            </if>
            <if test="usrFlag != null">
                usr_flag = #{usrFlag,jdbcType=INTEGER},
            </if>
        </set>
        where usr_id = #{usrId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zking.crm.base.model.User">
    update sys_user
    set role_id = #{roleId,jdbcType=INTEGER},
      usr_name = #{usrName,jdbcType=VARCHAR},
      usr_password = #{usrPassword,jdbcType=VARCHAR},
      usr_flag = #{usrFlag,jdbcType=INTEGER}
    where usr_id = #{usrId,jdbcType=INTEGER}
  </update>
</mapper>